{% extends 'base.html.twig' %}

{% block title %}Edit Producten2{% endblock %}

{% block body %}
    <h1>Edit Producten2</h1>

    {{ include('producten2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producten2_index') }}">back to list</a>

    {{ include('producten2/_delete_form.html.twig') }}
{% endblock %}
